<head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
    <form>
        <div class="inputBox">
            <div id="Avaleht" class="">
                <h1>Suurkiskjate loendur</h1>
                <input id="nimi" placeholder="Nimi"/>
                <input id="telefon" placeholder="Telefoni number"/>
                <button id="avaleht-btn" type="avaleht">Edasi</button>
            </div>
            <div id="Valik" class="hidden">
                <button id="Isend" type="suur_klikk">Isend</button>
                <button id="Jalg" type="suur_klikk">Jälg</button>
                <button id="Tagasi1-btn" type="tagasi">Tagasi</button>
            </div>
            <div id="Kiskjad" class="hidden">
                <button id="Hunt-btn" type="suur_klikk">Hunt</button>
                <button id="Ilves-btn" type="suur_klikk">Ilves</button>
                <button id="Karu-btn" type="suur_klikk">Karu</button>
                <button id="Tagasi2-btn" type="tagasi">Tagasi</button>
            </div>
            <div id="Hunt" class="hidden">
                <h2>Hunt</h2>
                <input id="nrsuurHunt" placeholder="Täiskasvanute arv"/>
                <input id="kutsHNr" placeholder="Kutsikate arv"/>
                <button id="Tagasi3-btn" type="tagasi">Tagasi</button>
                <button id="Edasi1-btn" type="edasi">Edasi</button>
            </div>
            <div id="Ilves" class="hidden">
                <h2>Ilves</h2>
                <input id="ilvesNr" placeholder="Täiskasvanute arv"/>
                <input id="kutsINr" placeholder="Kutsikate arv"/>
                <button id="Tagasi4-btn" type="tagasi">Tagasi</button>
                <button id="Edasi2-btn" type="edasi">Edasi</button>
            </div>
            <div id="Karu" class="hidden">
                <h2>Karu</h2>
                <input id="vanemadKarud" placeholder="Nähtud vanemad karud"/>
                <input id="pakaSuuri" placeholder="Esipäka laius (cm)"/>
                <input id="allaykspojad" placeholder="Nähtud alla 1-aastased pojad"/>
                <input id="vanemadpojad" placeholder="Nähtud üle 1-aastased pojad"/>
                <input id="pakaNoorem" placeholder="Esipäka laius (cm)"/>
                <button id="Tagasi5-btn" type="tagasi">Tagasi</button>
                <button id="Edasi3-btn" type="edasi">Edasi</button>
            </div>
            <div id="Karujalg" class="hidden">
                <h2>Karu jälg</h2>
                <input id="pakaSuurj" placeholder="Esipäka laius (cm)"/>
                <button id="Tagasi6-btn" type="tagasi">Tagasi</button>
                <button id="Edasi4-btn" type="edasi">Edasi</button>
            </div>
            <div id="Edasta" class="hidden">
                <h2>Suurkiskjate loendur</h2>
                <section id="uploadMedia">
                    <input type="file" name="myFile" id="fileMedia">
                </section>
                <input id="kommentaar" type="text" placeholder="Lisa kommentaar"/>
                <button id="GPS" type="GPS" onclick="getLocation()">Hangi koordinaadid</button>
                <input id="final-btn" type="submit" value="Edasta andmed"/>
            </div>
            <div id="Tanan" class="hidden">
                <h2>Täname!</h2>
            </div>
        </div>
    </form>
</div>
<script src="index.js"></script>
</body>

