html, body {
  margin: 0;
  padding: 0;
  background: url('img/mets.jpg');
  filter: opacity(50%)
  filter: blur(2px)
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hidden {
  display:none
}
H1, H2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Helvetica", Helvetica, serif;
}
.wrapper{
   position: absolute;
   top: 30%;
   right: 30%;
   width: 400px;
   padding: 40px;
   background: rgba(0, 0, 0, .5);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);
   border-radius: 10px;
}
input[type=text] {
width : 100%;
padding: 32px 40px;
font-size: 20px;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
input {
width : 100%;
text-align: center;
font-size: 20px;
color: black;
padding: 32px 40px;
text-align: center;
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
input:focus {
background-color: lightgray;
color: black;
}
button, button[type=GPS]{
background-color: rgb(0,0,0);
border: 1px solid black;
color: white;
font-size: 20px;
padding: 32px 40px;
width : 100%;
text-align: center;
cursor: pointer;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
input, input[type=text], button[type=GPS], input[type=submit], input[type=file], button[type=avaleht], type="suur_klikk"{
display: flex;
flex-direction: column;
justify-content: space-between;
}
button:not(:last-child), input[type=submit]:not(:last-child) {
border-bottom: none;
}
button:hover, input[type=submit]:hover, input[type=file]:hover, button[type=edasi]:hover, button[type=tagasi]:hover  {
background-color: lightgray;
}
button[type=edasi], button[type=tagasi], button[type=avaleht] {
background-color: rgb(0,0,0);
color: white;
padding: 16px;
width : 30%;
justify-content: space-between;
text-align: center;
border: 1px solid black;
font-size: 20px;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
button[type=edasi]{
button-align: right;
}
button[type=tagasi]{
button-align: left;
}
input[type=submit], input[type=file] {
background-color: rgb(0,0,0);
color: white;
padding: 32px 40px;
text-align: center;
border: 1px solid black;
font-size: 20px;
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

